USE [master]
GO
/****** Object:  Database [Photon_Gambling]    Script Date: 5/17/2022 2:42:46 PM ******/
CREATE DATABASE [Photon_Gambling]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gambling', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Photon_Gambling.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Gambling_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Photon_Gambling_log.ldf' , SIZE = 2560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Photon_Gambling].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Photon_Gambling]
GO
/****** Object:  Schema [Dice]    Script Date: 5/17/2022 2:42:46 PM ******/
CREATE SCHEMA [Dice]
GO
/****** Object:  Schema [Slot]    Script Date: 5/17/2022 2:42:46 PM ******/
CREATE SCHEMA [Slot]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 5/17/2022 2:42:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[Id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [Slot].[BetSequences]    Script Date: 5/17/2022 2:42:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Slot].[BetSequences](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[value] [decimal](6, 2) NULL,
 CONSTRAINT [PK_BetSequences] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Slot].[BonusGameCoefficient]    Script Date: 5/17/2022 2:42:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Slot].[BonusGameCoefficient](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SlotsId] [int] NOT NULL,
	[CountScatter] [int] NOT NULL,
	[MinRangeValue] [int] NOT NULL,
	[MaxRangeValue] [int] NOT NULL,
	[Coef] [int] NOT NULL,
 CONSTRAINT [PK_BonusGameCoefficient] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Slot].[DrumMachine]    Script Date: 5/17/2022 2:42:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Slot].[DrumMachine](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[MachineId] [int] NOT NULL,
	[RowIndex] [int] NOT NULL,
	[DrumIndex] [int] NOT NULL,
	[SymbolId] [int] NOT NULL,
 CONSTRAINT [PK_DrumMachine] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Slot].[Machine]    Script Date: 5/17/2022 2:42:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Slot].[Machine](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](200) NULL,
 CONSTRAINT [PK_Machine] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Slot].[MachineSlots]    Script Date: 5/17/2022 2:42:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Slot].[MachineSlots](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SlotId] [int] NOT NULL,
	[MachineId] [int] NOT NULL,
 CONSTRAINT [PK_Slot.MachineSlots] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Slot].[PayTable]    Script Date: 5/17/2022 2:42:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Slot].[PayTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[SlotsId] [int] NOT NULL,
	[SymbolsId] [int] NOT NULL,
	[Count] [int] NOT NULL,
	[Value] [int] NOT NULL,
 CONSTRAINT [PK_Slot.PayTable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Slot].[SlotMachines]    Script Date: 5/17/2022 2:42:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Slot].[SlotMachines](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Slots_Id] [int] NOT NULL,
	[Machine_Id] [int] NOT NULL,
 CONSTRAINT [PK_Slot.SlotToMachine] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Slot].[Slots]    Script Date: 5/17/2022 2:42:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Slot].[Slots](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Slot.Slots] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Slot].[Symbols]    Script Date: 5/17/2022 2:42:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Slot].[Symbols](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](10) NOT NULL,
	[Hash] [int] NULL,
	[Cost] [int] NULL,
 CONSTRAINT [PK_Slot.Symbols] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Slot].[BetSequences] ON 

INSERT [Slot].[BetSequences] ([id], [value]) VALUES (1, CAST(0.10 AS Decimal(6, 2)))
INSERT [Slot].[BetSequences] ([id], [value]) VALUES (2, CAST(0.20 AS Decimal(6, 2)))
INSERT [Slot].[BetSequences] ([id], [value]) VALUES (3, CAST(0.50 AS Decimal(6, 2)))
SET IDENTITY_INSERT [Slot].[BetSequences] OFF
GO
SET IDENTITY_INSERT [Slot].[BonusGameCoefficient] ON 

INSERT [Slot].[BonusGameCoefficient] ([id], [SlotsId], [CountScatter], [MinRangeValue], [MaxRangeValue], [Coef]) VALUES (1, 1, 4, 1, 400, 0)
INSERT [Slot].[BonusGameCoefficient] ([id], [SlotsId], [CountScatter], [MinRangeValue], [MaxRangeValue], [Coef]) VALUES (2, 1, 4, 401, 650, 5)
INSERT [Slot].[BonusGameCoefficient] ([id], [SlotsId], [CountScatter], [MinRangeValue], [MaxRangeValue], [Coef]) VALUES (3, 1, 4, 651, 800, 10)
SET IDENTITY_INSERT [Slot].[BonusGameCoefficient] OFF
GO
SET IDENTITY_INSERT [Slot].[DrumMachine] ON 

INSERT [Slot].[DrumMachine] ([id], [MachineId], [RowIndex], [DrumIndex], [SymbolId]) VALUES (601, 1, 1, 1, 1)
INSERT [Slot].[DrumMachine] ([id], [MachineId], [RowIndex], [DrumIndex], [SymbolId]) VALUES (602, 1, 1, 2, 1)
INSERT [Slot].[DrumMachine] ([id], [MachineId], [RowIndex], [DrumIndex], [SymbolId]) VALUES (603, 1, 1, 3, 11)
GO
SET IDENTITY_INSERT [Slot].[DrumMachine] OFF
GO
SET IDENTITY_INSERT [Slot].[Machine] ON 

INSERT [Slot].[Machine] ([id], [Name], [Description]) VALUES (1, N'MACHINE 1', NULL)
INSERT [Slot].[Machine] ([id], [Name], [Description]) VALUES (2, N'MACHINE 2', NULL)
SET IDENTITY_INSERT [Slot].[Machine] OFF
GO
SET IDENTITY_INSERT [Slot].[PayTable] ON 

INSERT [Slot].[PayTable] ([id], [SlotsId], [SymbolsId], [Count], [Value]) VALUES (2, 1, 1, 3, 2)
INSERT [Slot].[PayTable] ([id], [SlotsId], [SymbolsId], [Count], [Value]) VALUES (4, 1, 1, 4, 15)
INSERT [Slot].[PayTable] ([id], [SlotsId], [SymbolsId], [Count], [Value]) VALUES (5, 1, 1, 5, 100)
SET IDENTITY_INSERT [Slot].[PayTable] OFF
GO
SET IDENTITY_INSERT [Slot].[SlotMachines] ON 

INSERT [Slot].[SlotMachines] ([id], [Slots_Id], [Machine_Id]) VALUES (1, 1, 1)
SET IDENTITY_INSERT [Slot].[SlotMachines] OFF
GO
SET IDENTITY_INSERT [Slot].[Slots] ON 

INSERT [Slot].[Slots] ([id], [Name]) VALUES (1, N'Night City Slots')
SET IDENTITY_INSERT [Slot].[Slots] OFF
GO
SET IDENTITY_INSERT [Slot].[Symbols] ON 

INSERT [Slot].[Symbols] ([id], [Name], [Hash], [Cost]) VALUES (1, N'9', -842352745, 1)
INSERT [Slot].[Symbols] ([id], [Name], [Hash], [Cost]) VALUES (2, N'10', -843401329, 2)
INSERT [Slot].[Symbols] ([id], [Name], [Hash], [Cost]) VALUES (3, N'J', -842352666, 3)
SET IDENTITY_INSERT [Slot].[Symbols] OFF
GO
/****** Object:  Index [IX_Symbols]    Script Date: 5/17/2022 2:42:46 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Symbols] ON [Slot].[Symbols]
(
	[Hash] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [Slot].[BonusGameCoefficient]  WITH CHECK ADD  CONSTRAINT [FK_BonusGameCoefficient_Slots] FOREIGN KEY([SlotsId])
REFERENCES [Slot].[Slots] ([id])
GO
ALTER TABLE [Slot].[BonusGameCoefficient] CHECK CONSTRAINT [FK_BonusGameCoefficient_Slots]
GO
ALTER TABLE [Slot].[DrumMachine]  WITH CHECK ADD  CONSTRAINT [FK_DrumMachine_Machine] FOREIGN KEY([MachineId])
REFERENCES [Slot].[Machine] ([id])
GO
ALTER TABLE [Slot].[DrumMachine] CHECK CONSTRAINT [FK_DrumMachine_Machine]
GO
ALTER TABLE [Slot].[DrumMachine]  WITH CHECK ADD  CONSTRAINT [FK_DrumMachine_Symbols] FOREIGN KEY([SymbolId])
REFERENCES [Slot].[Symbols] ([id])
GO
ALTER TABLE [Slot].[DrumMachine] CHECK CONSTRAINT [FK_DrumMachine_Symbols]
GO
ALTER TABLE [Slot].[MachineSlots]  WITH CHECK ADD  CONSTRAINT [FK_MachineSlots_Machine] FOREIGN KEY([MachineId])
REFERENCES [Slot].[Machine] ([id])
GO
ALTER TABLE [Slot].[MachineSlots] CHECK CONSTRAINT [FK_MachineSlots_Machine]
GO
ALTER TABLE [Slot].[MachineSlots]  WITH CHECK ADD  CONSTRAINT [FK_MachineSlots_Slots] FOREIGN KEY([SlotId])
REFERENCES [Slot].[Slots] ([id])
GO
ALTER TABLE [Slot].[MachineSlots] CHECK CONSTRAINT [FK_MachineSlots_Slots]
GO
ALTER TABLE [Slot].[PayTable]  WITH CHECK ADD  CONSTRAINT [FK_PayTable_Slots] FOREIGN KEY([SlotsId])
REFERENCES [Slot].[Slots] ([id])
GO
ALTER TABLE [Slot].[PayTable] CHECK CONSTRAINT [FK_PayTable_Slots]
GO
ALTER TABLE [Slot].[PayTable]  WITH CHECK ADD  CONSTRAINT [FK_PayTable_Symbols] FOREIGN KEY([SymbolsId])
REFERENCES [Slot].[Symbols] ([id])
GO
ALTER TABLE [Slot].[PayTable] CHECK CONSTRAINT [FK_PayTable_Symbols]
GO
ALTER TABLE [Slot].[SlotMachines]  WITH CHECK ADD  CONSTRAINT [FK_SlotToMachine_Machine1] FOREIGN KEY([Machine_Id])
REFERENCES [Slot].[Machine] ([id])
GO
ALTER TABLE [Slot].[SlotMachines] CHECK CONSTRAINT [FK_SlotToMachine_Machine1]
GO
ALTER TABLE [Slot].[SlotMachines]  WITH CHECK ADD  CONSTRAINT [FK_SlotToMachine_Slots1] FOREIGN KEY([Slots_Id])
REFERENCES [Slot].[Slots] ([id])
GO
ALTER TABLE [Slot].[SlotMachines] CHECK CONSTRAINT [FK_SlotToMachine_Slots1]
GO
USE [master]
GO
